# Node
node_modules/
dist/
*.log
*.tsbuildinfo

# pnpm
.pnpm-store/
# Only keep root pnpm-lock.yaml, ignore individual package lock files
**/pnpm-lock.yaml
!pnpm-lock.yaml

# Env
.env
.env.*
!.env.example

# OS
.DS_Store

# Docker
/.docker/
/docker/
/.tmp/

# IDE
.vscode/
.idea/